<style> 
    body {
    /* Change the background-image below to an image that suits you: 
            a. This site is a great place to find high quality pics: https://unsplash.com
            b. Right click the image you want, and select "Copy Image Address" 
            c. Replace the background-image: url('INSERT LINK HERE') 
            Want to know more about background images? 
            Go to: https://www.w3schools.com/cssref/pr_background-image.asp */
	    background-image: url(/images/yourimagehere.jpg);
	    background-color: rgba(255,255,255,0.6);
	    background-blend-mode: lighten;
	    background-size: cover;
	    background-repeat: no-repeat;
    }

    .card-text {
    	color: white;
    }

    .card-body {
    	background-color: green;
    }


</style>



<div class="col-8 offset-2"> 
	<div class="row"> 
		<div class="col-4">
			<div class="card"> 
				<img src="images/tictactoe.png" class="card-img-top square">
				<a href="/games/tictactoe" class="no-link-hover">
					<div class="card-body">
						<h4 class="card-text"> Tic Tac Toe </h4>
					</div> 
				</a>
			</div> 
		</div> 

		<div class="col-4">
			<div class="card game-card"> 
				<img src="images/numberguess.png" class="card-img-top square">
				<a href="/games/numberguess" class="no-link-hover">
					<div class="card-body">
						<h4 class="card-text"> Number Guess </h4>
					</div> 
				</a>
			</div> 
		</div> 
	</div>
</div> 
