
<div class="col-8 offset-2"> 
	<div class="card game-card"> 
		<img src="images/tictactoe.png" class="card-img-top">
		<a href="/games/tictactoe" class="no-link-hover">
			<div class="card-body">
				<h4 class="card-text"> Tic Tac Toe </h4>
			</div> 
		</a>
	</div> 
</div> 
