<style>
  body {
    background-image: url(/images/yourimagehere.jpg);
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
  }

</style> 

<h1 class="section-header"> About </h1>

<div class="col-6 offset-3">
	<p> 
		Ang Lorem Ipsum ay ginagamit na modelo ng industriya ng pagpriprint at pagtytypeset. Ang Lorem Ipsum ang naging regular na modelo simula pa noong 1500s, noong may isang di kilalang manlilimbag and kumuha ng galley ng type at ginulo ang pagkaka-ayos nito upang makagawa ng libro ng mga type specimen. Nalagpasan nito hindi lang limang siglo, kundi nalagpasan din nito ang paglaganap ng electronic typesetting at nanatiling parehas. Sumikat ito noong 1960s kasabay ng pag labas ng Letraset sheets na mayroong mga talata ng Lorem Ipsum, at kamakailan lang sa mga desktop publishing software tulad ng Aldus Pagemaker ginamit ang mga bersyon ng Lorem Ipsum.
	</p>
</div>