{{!-- Follow the steps below: --}}
<style>
    body {
    /* Step 1: Change the background-image below to an image that suits you: 
            a. This site is a great place to find high quality pics: https://unsplash.com
            b. Right click the image you want, and select "Copy Image Address" 
            c. Replace the background-image: url('INSERT LINK HERE') 
            Want to know more about background images? 
            Go to: https://www.w3schools.com/cssref/pr_background-image.asp */
        background-image: url("images/yourimagehere.jpg");
        background-color: rgba(255,255,255,0.6);
        background-blend-mode: lighten;
        background-size: cover;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    
    .name {
        color: black;
    }
</style>

<main>
    {{!-- An h1 tag is used for the most important text on the webpage.
          Step 2: Replace "Your Name Here" with your Full Name
    --}}
    <h1 class="name">Your Name Here</h1>
</main>

{{!-- Save your work, and refresh your page to see the results! --}}