td {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 64px;
  font-family: 'Stint Ultra Expanded', serif;
}

h1, h4 {
  text-align: center;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

table {
  margin: 5px auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* utility classes */

.section-header {
  font-size: 94px;
  font-family: 'Source Sans Pro', sans-serif;
}

.card-body {
    background-color: lightgray;
}

.card-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
}

.no-link-hover, .no-link-hover:hover {
  color: black;
}

.square {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* tic tac toe grid styling */

.vert {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.hori {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.cell, .cell:hover {
  display:block; 
  height: 100%; 
  width: 100%;
  text-decoration: none !important;
}

/* Navbar CSS START==============================*/
/*nav {
	margin: 27px auto 0;
	position: relative;
	width: 500px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

nav a:hover {
  text-decoration: none;
  color: white;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

a:nth-child(1) {
	width: 100px;
}

a:nth-child(2) {
	width: 100px;
}

a:nth-child(3) {
	width: 100px;
}

a:nth-child(4) {
	width: 100px;
}

a:nth-child(5) {
	width: 100px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-blog, a:nth-child(2):hover~.animation {
	width: 100px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-photos, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 200px;
	background-color: #3498db;
}
nav .start-game, a:nth-child(4):hover~.animation {
	width: 100px;
	left: 300px;
	background-color: #9b59b6;
}

nav .start-game, a:nth-child(5):hover~.animation {
	width: 100px;
	left: 400px;
	background-color: #ffd369;
}*/
/* Navbar CSS END================================*/